.banner-header {
    text-align: center;
    font-size: 500%;
    color: $color1;
    
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  .banner-paragraph {
    text-align: center;
    font-size: 200%;
    color: $color2;
  
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  @media only screen and (max-width: 600px) {
    .banner-header {
      font-size: 200%;
    }
  }
