.show {
  display: block;
}
  
.flip-box {
  background-color: transparent;
  width: 40rem;
  height: 40rem;
  perspective: 1000px;

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }



  &-front {
    background-color: $color1;
    color: $color2;

      &-h2 {
        font-size: 4rem;
      }

      &-img {
        max-width: 25rem;
        margin-top: 30px; 
      }
  }
  

  &-back {
    background-color: $color2;
    color: $color1;
    transform: rotateY(180deg);

      &-title {
        font-size: 8rem;
      }

      &-description {
        font-size: 3rem;
        margin-bottom: 10px;
      }

      &-ul {
        margin-left: 50px;
        text-align: left;
      }

      &-li {
        
        font-size: 3rem;
      }
  }

  &-front, &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
