.footer {

  &-container {
    background-color: $color1;
    text-align: center;
  }

  &-h2 {
    color: $color2;
  }
  
  &-li-a {
    margin-left: 25px;
    margin-right: 25px;
    color: $color2;
    
      &:hover {
        color: white;
      }
  }

  &-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    list-style: none;
  }

  &-a {
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}


