.nav {
    border-bottom: 3px solid $color2;

    &-toggle {
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        right: 0;

        & svg {
            width: 5rem;
            fill: $color1;
        }

        & .close {
            display: none;
        }

        & .menu {
            margin-top: 1.5rem;
        }
    }

    &-checkbox {
        display: none;
    }

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 1rem;

        & li {
            list-style: none;
            display: none;
        }

        & li:first-child {
            margin-right: auto;
            display: block;
        }

        & a {
            text-decoration: none;
            font-size: 3rem; // think about a media query for this one 
        }

        & svg {
            width: 1.5rem;
            fill: $color2;
        }

    }
}


#nav-checkbox:checked ~ ul.nav-menu li {
    display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
}
@media only screen and (min-width: 560px) {
    .nav-toggle {
        display: none;
   }
    .nav-menu {
        flex-direction: row;
   }
    .nav-menu li {
        display: block;
   }
}

.nav-li {
    &-a {
        text-decoration: none;
        color: $color1;
        position: relative;

        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            position: absolute;
            background: $color2;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover {
            text-decoration: none;
            color: $color1;
        }

        &:hover:after {
            width: 100%; 
            left: 0; 
        }
    }
}

.navbar-image { 
    max-height: 20rem; 
}

@media only screen and (max-width: 560px) {
    .navbar-image { 
        max-height: 10rem;
     }
}