/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .class {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .class {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .class {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .class {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .class {
    background: pink;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Andika New Basic", sans-serif;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .banner-header {
    text-align: center;
    font-size: 300%;
    color: #40c1c9;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  .banner-paragraph {
    text-align: center;
    font-size: 150%;
    color: #28677d;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .banner-header {
    text-align: center;
    font-size: 400%;
    color: #40c1c9;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  .banner-paragraph {
    text-align: center;
    font-size: 200%;
    color: #28677d;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .banner-header {
    text-align: center;
    font-size: 500%;
    color: #40c1c9;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  .banner-paragraph {
    text-align: center;
    font-size: 200%;
    color: #28677d;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .banner-header {
    text-align: center;
    font-size: 600%;
    color: #40c1c9;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  .banner-paragraph {
    text-align: center;
    font-size: 300%;
    color: #28677d;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .banner-header {
    text-align: center;
    font-size: 800%;
    color: #40c1c9;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  .banner-paragraph {
    text-align: center;
    font-size: 400%;
    color: #28677d;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.filterDiv {
  /* text-align: center; */
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #40c1c9;
  color: #28677d;
}

.flip-box-back {
  background-color: #28677d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#myBtnContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.btn {
  color: #40c1c9;
  background-color: #28677d;
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
}

.flip-box-front-h2 {
  margin-top: 30px;
}

.flip-box-front-img {
  max-width: 250px;
  margin-left: .25rem;
  margin-top: 30px;
}

.card-back-h2 {
  color: #40c1c9;
}

.card-back-p {
  color: #40c1c9;
}

.card-back-ul {
  color: #40c1c9;
  margin-left: 50px;
  text-align: left;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container {
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: green;
  margin-bottom: 200px;
}

.flip-card {
  background-color: transparent;
  width: 80%;
  height: 80%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  text-align: center;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #28677d;
}

.flip-card-front-title {
  color: #40c1c9;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 50px;
}

.flip-card-description {
  padding: 100px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front-img {
  width: 50%;
  height: 50%;
}

.flip-card-back-li {
  text-align: left;
}

.footer-container {
  background-color: #40c1c9;
  height: 20%;
  text-align: center;
}

.footer-h2 {
  color: #28677d;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20%;
}

.footer-li-a {
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: larger;
  color: #28677d;
  font-size: 140%;
}

.footer-li-a:hover {
  color: white;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  list-style: none;
}

.footer-a {
  color: #28677d;
  text-decoration: none;
}

.footer-a:hover {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .footer-links {
    display: block;
  }
}

.nav {
  border-bottom: 3px solid #28677d;
}

.nav-toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav-toggle svg {
  width: 5rem;
  fill: #40c1c9;
}

.nav-toggle .close {
  display: none;
}

.nav-toggle .menu {
  margin-top: 1.5rem;
}

.nav-checkbox {
  display: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.nav-menu li {
  list-style: none;
  display: none;
}

.nav-menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav-menu a {
  text-decoration: none;
  font-size: 3rem;
}

.nav-menu svg {
  width: 1.5rem;
  fill: #28677d;
}

#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-menu li {
    display: block;
  }
}

.nav-li-a {
  text-decoration: none;
  color: #40c1c9;
  position: relative;
}

.nav-li-a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #28677d;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-li-a:hover {
  text-decoration: none;
  color: #40c1c9;
}

.nav-li-a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-image {
  max-height: 20rem;
}

@media only screen and (max-width: 560px) {
  .navbar-image {
    max-height: 10rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .index-page-cards {
    margin-top: .5rem;
    display: block;
  }
  .index-page-card {
    background-color: #f7f7f7;
    height: 30rem;
    width: 20rem;
    padding: 5px;
  }
  .index-page-card-image {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .index-page-card-h2 {
    color: #40c1c9;
    text-align: center;
    margin-bottom: 2rem;
  }
  .index-page-card-p {
    color: #28677d;
    text-align: center;
  }
  .index-page-card ul {
    background-color: slateblue;
    display: table;
    margin: 0 auto;
    text-align: left;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .index-page-cards {
    margin-top: .5rem;
  }
  .index-page-card {
    background-color: #f7f7f7;
    height: 30rem;
    width: 20rem;
    padding: 5px;
  }
  .index-page-card-image {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .index-page-card-h2 {
    color: #40c1c9;
    text-align: center;
    margin-bottom: 2rem;
  }
  .index-page-card-p {
    color: #28677d;
    text-align: center;
  }
  .index-page-card ul {
    background-color: slateblue;
    display: table;
    margin: 0 auto;
    text-align: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .index-page-cards {
    margin-top: .5rem;
  }
  .index-page-card {
    height: 40rem;
    width: 30rem;
    padding: 20px;
  }
  .index-page-card-image {
    width: 40%;
  }
  .index-page-card-h2 {
    color: #40c1c9;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }
  .index-page-card-p {
    color: #28677d;
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .index-page-cards {
    margin-top: .5rem;
  }
  .index-page-card {
    height: 40rem;
    width: 30rem;
    padding: 20px;
  }
  .index-page-card-image {
    width: 50%;
  }
  .index-page-card-h2 {
    color: #40c1c9;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }
  .index-page-card-p {
    color: #28677d;
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .index-page-cards {
    margin-top: .5rem;
  }
  .index-page-card {
    background-color: #f7f7f7;
    height: 55rem;
    width: 40rem;
    padding: 20px;
  }
  .index-page-card-image {
    width: 50%;
  }
  .index-page-card-h2 {
    color: #40c1c9;
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }
  .index-page-card-p {
    color: #28677d;
    font-size: 2rem;
    text-align: center;
  }
}

.about-wrapper {
  background-color: #f7f7f7;
  height: 1000px;
  margin-left: 10px;
  margin-right: 10px;
}

.about-h2 {
  color: #40c1c9;
  border-bottom: 5px solid #28677d;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 100px;
  text-align: center;
}

.about-flex-container {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #40c1c9;
}

.about-img {
  height: 90%;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.about-p-container {
  width: 600px;
}

.about-p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 20px;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.home-container {
  margin: 10px 10px 10px 10px;
  height: 70rem;
}

.skill-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .skill-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100rem;
  }
}
/*# sourceMappingURL=main.css.map */