.home-container {
    margin: 10px 10px 10px 10px;
    height: 70rem;
}

.skill-card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .skill-card-container {
        flex-direction: column;
        align-items: center;
        height: 100rem;
    }
}