.home-container {
    margin: 10px 10px 10px 10px;
    height: 80rem;
}

.skill-card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@media only screen and (max-width: 600px) {
    .skill-card-container {
        flex-direction: column;
        align-items: center;
        height: 100rem;
    }
}