#myBtnContainer {
    text-align: center;
    background-color: yellowgreen;
}

.btn {
    color: #40c1c9;
    background-color: #28677d;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
  }