#myBtnContainer {
    text-align: center;
}

.btn {
    color: $color1;
    background-color: $color2;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }